<h1>Admin – Order <%= @order.id %></h1>

<p>
User: <%= @order.user.email %><br>
Total: ₹ <%= @order.total %><br>
Payment: <%= @order.payment_status %><br>
Current Status: <%= @order.status %>
</p>

<h3>Update Status</h3>

<%= form_with url: admin_order_path(@order), method: :patch do %>
  <%= select_tag :status,
      options_for_select(Order.statuses.keys, @order.status) %>

  <%= submit_tag "Update" %>
<% end %>