<h1>New Product</h1>

<%= form_with model: [:admin, @product],
      html: { multipart: true, data: { turbo: false } } do |f| %>

  <% if @product.errors.any? %>
    <div style="color:red;">
      <h3><%= @product.errors.count %> error(s) prevented saving:</h3>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, required: true %><br>
    <small>Enter price in paise (₹100 = 10000)</small>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name,
        { prompt: "Select category" },
        { required: true } %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.file_field :images %>
  </p>

  <p>
    <%= f.submit "Create Product" %>
  </p>

<% end %>
