<h1><%= @product.name %></h1>

<% if @product.images.attached? %>
  <%= image_tag @product.images.first, width: 300 %>
<% end %>

<p>
  <strong>Price:</strong>
  ₹ <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%= link_to "Back to Shop", root_path %>
